{{define "title"}}
Wireguard客户端
{{end}}

{{define "top_css"}}
<style>
    .paused-client {
        transition: transform .2s;
        cursor: pointer;
    }
    i[class^="paused-client"]:hover { transform: scale(1.5); }
</style>
{{end}}

{{define "username"}}
{{ .username }}
{{end}}

{{define "page_title"}}
Wireguard客户端
{{end}}

{{define "page_content"}}
<section class="content">
    <div class="container-fluid">
        <div class="row" id="client-list">
        </div>
    </div>
</section>

<div class="modal fade" id="modal_email_client">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">电子邮件配置</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="关闭">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form name="frm_email_client" id="frm_email_client">
                <div class="modal-body">
                    <input type="hidden" id="e_client_id" name="e_client_id">
                    <div class="form-group">
                        <label for="e_client_email" class="control-label">电子邮件地址</label>
                        <input type="text" class="form-control" id="e_client_email" name="e_client_email">
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-success">发送</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_qr_client">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">二维码</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="关闭">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="qr_client_id" name="qr_client_id">
                <img id="qr_code" class="w-100" style="image-rendering: pixelated;" src="" alt="二维码" />
                <!-- 任何客户端配置中均不包含FwMark：它是无效的。 -->
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_telegram_client">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Telegram配置</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="关闭">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form name="frm_telegram_client" id="frm_telegram_client">
                <div class="modal-body">
                    <input type="hidden" id="tg_client_id" name="tg_client_id">
                    <div class="form-group">
                        <label for="tg_client_userid" class="control-label">Telegram用户ID</label>
                        <input type="text" class="form-control" id="tg_client_userid" name="tg_client_userid">
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-success">发送</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_edit_client">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">编辑客户端</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="关闭">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form name="frm_edit_client" id="frm_edit_client">
                <div class="modal-body">
                    <input type="hidden" id="_client_id" name="_client_id">
                    <div class="form-group">
                        <label for="_client_name" class="control-label">名称</label>
                        <input type="text" class="form-control" id="_client_name" name="_client_name">
                    </div>
                    <div class="form-group">
                        <label for="_client_email" class="control-label">电子邮件</label>
                        <input type="text" class="form-control" id="_client_email" name="client_email">
                    </div>
                    <div class="form-group">
                        <label for="_subnet_ranges" class="control-label">子网范围</label>
                        <select id="_subnet_ranges" class="select2"
                            data-placeholder="选择子网范围" style="width: 100%;">
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="_client_allocated_ips" class="control-label">IP分配</label>
                        <input type="text" data-role="tagsinput" class="form-control" id="_client_allocated_ips">
                    </div>
                    <div class="form-group">
                        <label for="_client_allowed_ips" class="control-label">允许的IP</label>
                        <input type="text" data-role="tagsinput" class="form-control" id="_client_allowed_ips">
                    </div>
                    <div class="form-group">
                        <label for="_client_extra_allowed_ips" class="control-label">额外允许的IP</label>
                        <input type="text" data-role="tagsinput" class="form-control"
                               id="_client_extra_allowed_ips">
                    </div>
                    <div class="form-group">
                        <label for="_client_endpoint" class="control-label">端点</label>
                        <input type="text" class="form-control" id="_client_endpoint" name="client_endpoint">
                    </div>
                    <div class="form-group">
                        <div class="icheck-primary d-inline">
                            <input type="checkbox" id="_use_server_dns">
                            <label for="_use_server_dns">
                                使用服务器DNS
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="icheck-primary d-inline">
                            <input type="checkbox" id="_enabled">
                            <label for="_enabled">
                                启用此客户端
                            </label>
                        </div>
                    </div>
                    <details>
                        <summary><strong>公钥和预共享密钥</strong>
                            <i class="fas fa-info-circle" data-toggle="tooltip"
                               data-original-title="更新服务器存储的客户端公钥和预共享密钥。">
                            </i>
                        </summary>
                        <div class="form-group" style="margin-top: 1rem">
                            <label for="_client_public_key" class="control-label">
                                公钥
                            </label>
                            <input type="text" class="form-control" id="_client_public_key" name="_client_public_key" aria-invalid="false">
                        </div>
                        <div class="form-group">
                            <label for="_client_preshared_key" class="control-label">
                                预共享密钥
                            </label>
                            <input type="text" class="form-control" id="_client_preshared_key" name="_client_preshared_key">
                        </div>
                    </details>
                    <details style="margin-top: 0.5rem;">
                        <summary><strong>附加配置</strong>
                        </summary>
                        <div class="form-group" style="margin-top: 0.5rem;">
                            <label for="_client_telegram_userid" class="control-label">Telegram用户ID</label>
                            <input type="text" class="form-control" id="_client_telegram_userid" name="_client_telegram_userid">
                        </div>
                        <div class="form-group">
                            <label for="_additional_notes" class="control-label">备注</label>
                            <textarea class="form-control" style="min-height: 6rem;" id="_additional_notes" name="_additional_notes" placeholder="关于此客户端的附加备注"></textarea>
                        </div>
                    </details>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-success">保存</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_pause_client">
    <div class="modal-dialog">
        <div class="modal-content bg-warning">
            <div class="modal-header">
                <h4 class="modal-title">禁用</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="关闭">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-outline-dark" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-outline-dark" id="pause_client_confirm">应用</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_remove_client">
    <div class="modal-dialog">
        <div class="modal-content bg-danger">
            <div class="modal-header">
                <h4 class="modal-title">删除</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="关闭">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-outline-dark" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-outline-dark" id="remove_client_confirm">应用</button>
            </div>
        </div>
    </div>
</div>
{{end}}

{{define "bottom_js"}}
    <script>
        function populateClientList() {
            $.ajax({
                cache: false,
                method: 'GET',
                url: '{{.basePath}}/api/clients',
                dataType: 'json',
                contentType: "application/json",
                success: function (data) {
                    renderClientList(data);
                },
                error: function (jqXHR, exception) {
                    const responseJson = jQuery.parseJSON(jqXHR.responseText);
                    toastr.error(responseJson['message']);
                }
            });
        }

        function setClientStatus(clientID, status) {
            const data = {"id": clientID, "status": status};
            $.ajax({
                cache: false,
                method: 'POST',
                url: '{{.basePath}}/client/set-status',
                dataType: 'json',
                contentType: "application/json",
                data: JSON.stringify(data),
                success: function (data) {
                    console.log("将客户端 " + clientID + " 的状态设置为 " + status);
                },
                error: function (jqXHR, exception) {
                    const responseJson = jQuery.parseJSON(jqXHR.responseText);
                    toastr.error(responseJson['message']);
                }
            });
        }

        function resumeClient(clientID) {
            setClientStatus(clientID, true);
            const divElement = document.getElementById("paused_" + clientID);
            divElement.style.visibility = "hidden";
            updateApplyConfigVisibility()
        }

        function pauseClient(clientID) {
            setClientStatus(clientID, false);
            const divElement = document.getElementById("paused_" + clientID);
            divElement.style.visibility = "visible";
            updateApplyConfigVisibility()
        }

        // 为现有客户端更改子网时，自动填充IP分配输入框并提供建议的IP地址
        function updateIPAllocationSuggestionExisting() {
            let subnetRange = $("#_subnet_ranges").select2('val');

            if (!subnetRange || subnetRange.length === 0) {
                subnetRange = '__default_any__'
            }
            $.ajax({
                cache: false,
                method: 'GET',
                url: `{{.basePath}}/api/suggest-client-ips?sr=${subnetRange}`,
                dataType: 'json',
                contentType: "application/json",
                success: function(data) {
                    const allocated_ips = $("#_client_allocated_ips").val().split(",");
                    allocated_ips.forEach(function (item, index) {
                        $('#_client_allocated_ips').removeTag(escape(item));
                    })
                    data.forEach(function (item, index) {
                        $('#_client_allocated_ips').addTag(item);
                    })
                },
                error: function(jqXHR, exception) {
                    const allocated_ips = $("#_client_allocated_ips").val().split(",");
                    allocated_ips.forEach(function (item, index) {
                        $('#_client_allocated_ips').removeTag(escape(item));
                    })
                    const responseJson = jQuery.parseJSON(jqXHR.responseText);
                    toastr.error(responseJson['message']);
                }
            });
        }

        function updateSubnetRangesList(elementID, preselectedVal) {
            $.getJSON("{{.basePath}}/api/subnet-ranges", null, function(data) {
                $(`${elementID} option`).remove();
                $(elementID).append(
                    $("<option></option>")
                        .text("任意")
                        .val("__default_any__")
                );
                $.each(data, function(index, item) {
                    $(elementID).append(
                        $("<option></option>")
                            .text(item)
                            .val(item)
                    );
                    if (item === preselectedVal) {
                        $(elementID).val(preselectedVal).trigger('change')
                    }
                });
            });
        }

        function updateSearchList() {
            $.getJSON("{{.basePath}}/api/subnet-ranges", null, function(data) {
                $("#status-selector option").remove();
                $("#status-selector").append(
                    $("<option></option>")
                        .text("全部")
                        .val("All"),
                    $("<option></option>")
                        .text("已启用")
                        .val("Enabled"),
                    $("<option></option>")
                        .text("已禁用")
                        .val("Disabled"),
                    $("<option></option>")
                        .text("已连接")
                        .val("Connected"),
                    $("<option></option>")
                        .text("已断开")
                        .val("Disconnected")
                );
                $.each(data, function(index, item) {
                    $("#status-selector").append(
                        $("<option></option>")
                            .text(item)
                            .val(item)
                    );
                });
            });
        }
    </script>
    <script>
        // 加载客户端列表
        $(document).ready(function () {
            updateSearchList();
            populateClientList();
        })

        // 显示搜索栏并覆盖:contains选择器以实现不区分大小写
        $(document).ready(function () {
            $("#search-form").show();
            jQuery.expr[':'].contains = function(a, i, m) {
                return jQuery(a).text().toUpperCase()
                    .indexOf(m[3].toUpperCase()) >= 0;
            };
        })

        // 隐藏所有客户端并仅显示符合搜索条件（名称、电子邮件、IP）的客户端
        $('#search-input').keyup(function () {
            $("#status-selector").val("All");
            let query = $(this).val().trim();
            $('.col-lg-4').hide();
            $(".info-box-text").each(function() {
                if($(this).children('i.fa-user').length > 0 || $(this).children('i.fa-envelope').length > 0)
                {
                    $(this).filter(':contains("' + query + '")').parent().parent().parent().show();
                }
                })
            $(".badge-secondary").filter(':contains("' + query + '")').parent().parent().parent().show();
            $(".fa-tguserid").each(function () {
                if ($(this).parent().text().trim().indexOf(query) != -1) {
                    $(this).closest('.col-lg-4').show();
                }
            })
            let upperQuery = query.toUpperCase()
            $(".fa-additional_notes").each(function () {
                if ($(this).parent().text().trim().indexOf(upperQuery) != -1) {
                    $(this).closest('.col-lg-4').show();
                }
            })
        })

        $("#status-selector").on('change', function () {
            $('#search-input').val("");
            switch ($("#status-selector").val()) {
                case "All":
                    $('.col-lg-4').show();
                    break;
                case "Enabled":
                    $('.col-lg-4').hide();
                    $('[id^="paused_"]').each(function () {
                        if ($(this).css("visibility") === "hidden") {
                            $(this).parent().parent().show();
                        }
                    });
                    break;
                case "Disabled":
                    $('.col-lg-4').hide();
                    $('[id^="paused_"]').each(function () {
                        if ($(this).css("visibility") !== "hidden") {
                            $(this).parent().parent().show();
                        }
                    });
                    break;
                case "Connected":
                    $('.col-lg-4').hide();
                    $.ajax({
                        cache: false,
                        method: 'GET',
                        url: '{{.basePath}}/status',
                        success: function (data) {
                            const returnedHTML = $(data).find(".table-success").get();
                            var returnedString = "";
                            returnedHTML.forEach(entry => returnedString += entry.outerHTML);
                            $(".fa-key").each(function () {
                                if (returnedString.indexOf($(this).parent().text().trim()) != -1) {
                                    $(this).closest('.col-lg-4').show();
                                }
                            })
                        }
                    });
                    break;
                case "Disconnected":
                    $('.col-lg-4').show();
                    $.ajax({
                        cache: false,
                        method: 'GET',
                        url: '{{.basePath}}/status',
                        success: function (data) {
                            const returnedHTML = $(data).find(".table-success").get();
                            var returnedString = "";
                            returnedHTML.forEach(entry => returnedString += entry.outerHTML);
                            $(".fa-key").each(function () {
                                if (returnedString.indexOf($(this).parent().text().trim()) != -1) {
                                    $(this).closest('.col-lg-4').hide();
                                }
                            })
                        }
                    });
                    break;
                default:
                    $('.col-lg-4').hide();
                    const selectedSR = $("#status-selector").val()
                    $(".fa-subnetrange").each(function () {
                        const srs = $(this).parent().text().trim().split(',')
                        for (const sr of srs) {
                            if (sr === selectedSR) {
                                $(this).closest('.col-lg-4').show();
                                break
                            }                            
                        }
                    })
                    break;
            }
        });

        // 禁用客户端模态框事件
        $("#modal_pause_client").on('show.bs.modal', function (event) {
            const button = $(event.relatedTarget);
            const client_id = button.data('clientid');
            const client_name = button.data('clientname');
            const modal = $(this);
            modal.find('.modal-body').text("您即将禁用客户端 " + client_name);
            modal.find('#pause_client_confirm').val(client_id);
        })

        // 确认禁用客户端按钮事件
        $(document).ready(function () {
            $("#pause_client_confirm").click(function () {
                const client_id = $(this).val();
                pauseClient(client_id);
                $("#modal_pause_client").modal('hide');
            });
        });

        // 删除客户端模态框事件
        $("#modal_remove_client").on('show.bs.modal', function (event) {
            const button = $(event.relatedTarget);
            const client_id = button.data('clientid');
            const client_name = button.data('clientname');
            const modal = $(this);
            modal.find('.modal-body').text("您即将删除客户端 " + client_name);
            modal.find('#remove_client_confirm').val(client_id);
        })

        // 确认删除客户端按钮事件
        $(document).ready(function () {
            $("#remove_client_confirm").click(function () {
                const client_id = $(this).val();
                const data = {"id": client_id};
                $.ajax({
                    cache: false,
                    method: 'POST',
                    url: '{{.basePath}}/remove-client',
                    dataType: 'json',
                    contentType: "application/json",
                    data: JSON.stringify(data),
                    success: function(data) {
                        $("#modal_remove_client").modal('hide');
                        toastr.success('成功删除客户端');
                        const divElement = document.getElementById('client_' + client_id);
                        divElement.style.display = "none";
                        updateApplyConfigVisibility()
                    },
                    error: function(jqXHR, exception) {
                        const responseJson = jQuery.parseJSON(jqXHR.responseText);
                        toastr.error(responseJson['message']);
                    }
                });
            });
        });

        // 编辑客户端模态框事件
        $(document).ready(function () {
            $("#modal_edit_client").on('show.bs.modal', function (event) {
                let modal = $(this);
                const button = $(event.relatedTarget);
                const client_id = button.data('clientid');

                // IP分配标签输入
                modal.find("#_client_allocated_ips").tagsInput({
                    'width': '100%',
                    'height': '75%',
                    'interactive': true,
                    'defaultText': '添加更多',
                    'removeWithBackspace': true,
                    'minChars': 0,
                    'minInputWidth': '100%',
                    'placeholderColor': '#666666'
                });

                // 允许的IP标签输入
                modal.find("#_client_allowed_ips").tagsInput({
                    'width': '100%',
                    'height': '75%',
                    'interactive': true,
                    'defaultText': '添加更多',
                    'removeWithBackspace': true,
                    'minChars': 0,
                    'minInputWidth': '100%',
                    'placeholderColor': '#666666'
                });

                modal.find("#_client_extra_allowed_ips").tagsInput({
                    'width': '100%',
                    'height': '75%',
                    'interactive': true,
                    'defaultText': '添加更多',
                    'removeWithBackspace' : true,
                    'minChars': 0,
                    'minInputWidth': '100%',
                    'placeholderColor': '#666666'
                })

                // 更新客户端模态框数据
                $.ajax({
                    cache: false,
                    method: 'GET',
                    url: '{{.basePath}}/api/client/' + client_id,
                    dataType: 'json',
                    contentType: "application/json",
                    success: function (resp) {
                        const client = resp.Client;

                        modal.find(".modal-title").text("编辑客户端 " + client.name);
                        modal.find("#_client_id").val(client.id);
                        modal.find("#_client_telegram_userid").val(client.telegram_userid);
                        modal.find("#_client_name").val(client.name);
                        modal.find("#_client_email").val(client.email);

                        let preselectedEl
                        if (client.subnet_ranges && client.subnet_ranges.length > 0) {
                            preselectedEl = client.subnet_ranges[0]
                        }

                        updateSubnetRangesList("#_subnet_ranges", preselectedEl);

                        modal.find("#_client_allocated_ips").importTags('');
                        client.allocated_ips.forEach(function (obj) {
                            modal.find("#_client_allocated_ips").addTag(obj);
                        });

                        modal.find("#_client_allowed_ips").importTags('');
                        client.allowed_ips.forEach(function (obj) {
                            modal.find("#_client_allowed_ips").addTag(obj);
                        });

                        modal.find("#_client_extra_allowed_ips").importTags('');
                        client.extra_allowed_ips.forEach(function (obj) {
                            modal.find("#_client_extra_allowed_ips").addTag(obj);
                        });

                        modal.find("#_client_endpoint").val(client.endpoint);

                        modal.find("#_use_server_dns").prop("checked", client.use_server_dns);
                        modal.find("#_enabled").prop("checked", client.enabled);

                        modal.find("#_client_public_key").val(client.public_key);
                        modal.find("#_client_preshared_key").val(client.preshared_key);
                        
                        modal.find("#_additional_notes").val(client.additional_notes);

                        // 处理子网范围选择
                        $('#_subnet_ranges').on('select2:select', function (e) {
                            updateIPAllocationSuggestionExisting();
                        });
                    },
                    error: function (jqXHR, exception) {
                        const responseJson = jQuery.parseJSON(jqXHR.responseText);
                        toastr.error(responseJson['message']);
                    }
                });
            });
        });

        // 重新生成二维码函数，由于与某些客户端的兼容性问题，会添加/移除配置的某些部分
        function regenerateQRCode() {
            const client_id = $("#qr_client_id").val();
            const QRCodeImg = $("#qr_code");
            QRCodeImg.hide();
            $.ajax({
                cache: false,
                method: 'GET',
                url: '{{.basePath}}/api/client/' + client_id,
                data: {

                },
                dataType: 'json',
                contentType: "application/json",
                success: function (resp) {
                    const client = resp.Client;

                    $(".modal-title").text("扫描 " + client.name + " 配置文件的二维码");
                    QRCodeImg.attr('src', resp.QRCode).show();
                },
                error: function (jqXHR, exception) {
                    const responseJson = jQuery.parseJSON(jqXHR.responseText);
                    toastr.error(responseJson['message']);
                }
            });
        }

        // 向客户端发送包含配置的电子邮件函数
        function submitEmailClient() {
            const client_id = $("#e_client_id").val();
            const email = $("#e_client_email").val();
            const data = {"id": client_id, "email": email};
            $.ajax({
                cache: false,
                method: 'POST',
                url: '{{.basePath}}/email-client',
                dataType: 'json',
                contentType: "application/json",
                data: JSON.stringify(data),
                success: function(resp) {
                    $("#modal_email_client").modal('hide');
                    toastr.success('成功向客户端发送电子邮件');
                },
                error: function(jqXHR, exception) {
                    const responseJson = jQuery.parseJSON(jqXHR.responseText);
                    toastr.error(responseJson['message']);
                }
            });
        }

        // 通过Telegram向客户端发送包含配置的消息函数
        function submitTelegramClient() {
            const client_id = $("#tg_client_id").val();
            const userid = $("#tg_client_userid").val();
            const data = {"id": client_id, "userid": userid};
            $.ajax({
                cache: false,
                method: 'POST',
                url: '{{.basePath}}/send-telegram-client',
                dataType: 'json',
                contentType: "application/json",
                data: JSON.stringify(data),
                success: function(resp) {
                    $("#modal_telegram_client").modal('hide');
                    toastr.success('成功通过Telegram向客户端发送配置');
                },
                error: function(jqXHR, exception) {
                    const responseJson = jQuery.parseJSON(jqXHR.responseText);
                    toastr.error(responseJson['message']);
                }
            });
        }

        // 提交编辑客户端函数，用于更新现有客户端
        function submitEditClient() {
            const client_id = $("#_client_id").val();
            const name = $("#_client_name").val();
            const email = $("#_client_email").val();
            const telegram_userid = $("#_client_telegram_userid").val();
            const allocated_ips = $("#_client_allocated_ips").val().split(",");
            const allowed_ips = $("#_client_allowed_ips").val().split(",");
            let use_server_dns = false;
            let extra_allowed_ips = [];
            const public_key = $("#_client_public_key").val();
            const preshared_key = $("#_client_preshared_key").val();

            if( $("#_client_extra_allowed_ips").val() !== "" ) {
                extra_allowed_ips = $("#_client_extra_allowed_ips").val().split(",");
            }

            const endpoint = $("#_client_endpoint").val();

            if ($("#_use_server_dns").is(':checked')){
                use_server_dns = true;
            }

            let enabled = false;

            if ($("#_enabled").is(':checked')){
                enabled = true;
            }

            const additional_notes = $("#_additional_notes").val();

            const data = {"id": client_id, "name": name, "email": email, "telegram_userid": telegram_userid, "allocated_ips": allocated_ips,
                "allowed_ips": allowed_ips, "extra_allowed_ips": extra_allowed_ips, "endpoint": endpoint,
                "use_server_dns": use_server_dns, "enabled": enabled, "public_key": public_key, "preshared_key": preshared_key, "additional_notes": additional_notes};

            $.ajax({
                cache: false,
                method: 'POST',
                url: '{{.basePath}}/update-client',
                dataType: 'json',
                contentType: "application/json",
                data: JSON.stringify(data),
                success: function(resp) {
                    $("#modal_edit_client").modal('hide');
                    toastr.success('成功更新客户端');
                    // 成功更新后刷新主页（客户端页面）
                    location.reload();
                },
                error: function(jqXHR, exception) {
                    const responseJson = jQuery.parseJSON(jqXHR.responseText);
                    toastr.error(responseJson['message']);
                }
            });
        }

        // 表单提交处理器
        function submitHandler(form) {
            const formId = $(form).attr('id');
            if (formId === "frm_edit_client") {
                submitEditClient();
            } else if (formId === "frm_email_client") {
                submitEmailClient();
            } else if (formId === "frm_telegram_client") {
                submitTelegramClient();
            }
        }

        // 电子邮件客户端模态框事件
        $("#modal_email_client").on('show.bs.modal', function (event) {
            let modal = $(this);
            const button = $(event.relatedTarget);
            const client_id = button.data('clientid');
            $.ajax({
                cache: false,
                method: 'GET',
                url: '{{.basePath}}/api/client/' + client_id,
                dataType: 'json',
                contentType: "application/json",
                success: function (resp) {
                    const client = resp.Client;

                    modal.find(".modal-title").text("向客户端 " + client.name + " 发送配置");
                    modal.find("#e_client_id").val(client.id);
                    modal.find("#e_client_email").val(client.email);
                },
                error: function (jqXHR, exception) {
                    const responseJson = jQuery.parseJSON(jqXHR.responseText);
                    toastr.error(responseJson['message']);
                }
            });
        });

        // 二维码客户端模态框事件
        $("#modal_qr_client").on('show.bs.modal', function (event) {
            let modal = $(this);
            const button = $(event.relatedTarget);
            const client_id = button.data('clientid');

            modal.find("#qr_client_id").val(client_id);
            regenerateQRCode();
        });

        // Telegram客户端模态框事件
        $("#modal_telegram_client").on('show.bs.modal', function (event) {
            let modal = $(this);
            const button = $(event.relatedTarget);
            const client_id = button.data('clientid');
            $.ajax({
                cache: false,
                method: 'GET',
                url: '{{.basePath}}/api/client/' + client_id,
                dataType: 'json',
                contentType: "application/json",
                success: function (resp) {
                    const client = resp.Client;

                    modal.find(".modal-title").text("向客户端 " + client.name + " 发送配置");
                    modal.find("#tg_client_id").val(client.id);
                    modal.find("#tg_client_userid").val(client.telegram_userid);
                },
                error: function (jqXHR, exception) {
                    const responseJson = jQuery.parseJSON(jqXHR.responseText);
                    toastr.error(responseJson['message']);
                }
            });
        });

        $(document).ready(function () {
            $.validator.setDefaults({
                submitHandler: function (form) {
                    submitHandler(form);
                }
            });
            // 编辑客户端表单验证
            $("#frm_edit_client").validate({
                rules: {
                    client_name: {
                        required: true,
                    },
                },
                messages: {
                    client_name: {
                        required: "请输入名称"
                    },
                },
                errorElement: 'span',
                errorPlacement: function (error, element) {
                    error.addClass('invalid-feedback');
                    element.closest('.form-group').append(error);
                },
                highlight: function (element, errorClass, validClass) {
                    $(element).addClass('is-invalid');
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).removeClass('is-invalid');
                }
            });
            // 电子邮件客户端表单验证
            $("#frm_email_client").validate({
                rules: {
                    e_client_email: {
                        required: true,
                        email: true,
                    },
                },
                messages: {
                    e_client_email: {
                        required: "请输入电子邮件"
                    },
                },
                errorElement: 'span',
                errorPlacement: function (error, element) {
                    error.addClass('invalid-feedback');
                    element.closest('.form-group').append(error);
                },
                highlight: function (element, errorClass, validClass) {
                    $(element).addClass('is-invalid');
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).removeClass('is-invalid');
                }
            });
            // Telegram客户端表单验证
            $("#frm_telegram_client").validate({
                rules: {
                    tg_client_userid: {
                        required: true,
                        number: true,
                    },
                },
                messages: {
                    tg_client_userid: {
                        required: "请输入Telegram用户ID",
                        number: "请输入有效的Telegram用户ID"
                    },
                },
                errorElement: 'span',
                errorPlacement: function (error, element) {
                    error.addClass('invalid-feedback');
                    element.closest('.form-group').append(error);
                },
                highlight: function (element, errorClass, validClass) {
                    $(element).addClass('is-invalid');
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).removeClass('is-invalid');
                }
            });
        });
    </script>
{{end}}
