{{define "title"}}
WireGuard 服务器
{{end}}

{{define "top_css"}}
{{end}}

{{define "username"}}
{{ .username }}
{{end}}

{{define "page_title"}}
WireGuard 服务器设置
{{end}}

{{define "page_content"}}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- 左侧列 -->
            <div class="col-md-6">
                <div class="card card-success">
                    <div class="card-header">
                        <h3 class="card-title">接口设置</h3>
                    </div>
                    <!-- 表单开始 -->
                    <form role="form" id="frm_server_interface" name="frm_server_interface">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="addresses" class="control-label">服务器接口地址</label>
                                <input type="text" data-role="tagsinput" class="form-control" id="addresses" value="">
                            </div>
                            <div class="form-group">
                                <label for="listen_port">监听端口</label>
                                <input type="text" class="form-control" id="listen_port" name="listen_port"
                                    placeholder="监听端口" value="{{ .serverInterface.ListenPort }}">
                            </div>
                            <div class="form-group">
                                <label for="post_up">启动后脚本</label>
                                <input type="text" class="form-control" id="post_up" name="post_up"
                                       placeholder="启动后脚本" value="{{ .serverInterface.PostUp }}">
                            </div>
                            <div class="form-group">
                                <label for="pre_down">关闭前脚本</label>
                                <input type="text" class="form-control" id="pre_down" name="pre_down"
                                       placeholder="关闭前脚本" value="{{ .serverInterface.PreDown }}">
                            </div>

                            <div class="form-group">
                                <label for="post_down">关闭后脚本</label>
                                <input type="text" class="form-control" id="post_down" name="post_down"
                                       placeholder="关闭后脚本" value="{{ .serverInterface.PostDown }}">
                            </div>
                        </div>
                        <!-- 卡片底部 -->
                        <div class="card-footer">
                            <button type="submit" class="btn btn-success">保存</button>
                        </div>
                    </form>
                </div>
                <!-- 卡片结束 -->
            </div>
            <!-- 右侧列 -->
            <div class="col-md-6">
                <div class="card card-danger">
                    <div class="card-header">
                        <h3 class="card-title">密钥对</h3>
                    </div>
                    <!-- 表单开始 -->
                    <form role="form">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="private_key">私钥</label>
                                <div class="input-group input-group">
                                    <input type="password" class="form-control" id="private_key" placeholder="私钥"
                                        value="{{ .serverKeyPair.PrivateKey }}" disabled>
                                    <span class="input-group-append">
                                        <button type="button" class="btn btn-danger btn-flat"
                                            id="btn_show_private_key">显示</button>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="public_key">公钥</label>
                                <input type="text" class="form-control" id="public_key" placeholder="公钥"
                                    value="{{ .serverKeyPair.PublicKey }}" disabled>
                            </div>
                        </div>
                        <!-- 卡片底部 -->
                        <div class="card-footer">
                            <button type="button" class="btn btn-danger" data-toggle="modal"
                                data-target="#modal_keypair_confirmation">生成</button>
                        </div>
                    </form>
                </div>
                <!-- 卡片结束 -->
            </div>
        </div>
        <!-- 行结束 -->
    </div>
</section>

<div class="modal fade" id="modal_keypair_confirmation">
    <div class="modal-dialog">
        <div class="modal-content bg-warning">
            <div class="modal-header">
                <h4 class="modal-title">生成新密钥对</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="关闭">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>您确定要为WireGuard服务器生成新的密钥对吗？<br/>
                必须更新现有客户端的对等公钥才能保持连接正常工作。</p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-outline-dark" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-outline-dark" id="btn_generate_confirm">生成</button>
            </div>
        </div>
        <!-- 模态框内容结束 -->
    </div>
    <!-- 模态框对话框结束 -->
</div>
<!-- 模态框结束 -->
{{end}}

{{define "bottom_js"}}
    <script>
        // 提交服务器接口设置
        function submitServerInterfaceSetting() {
            const addresses = $("#addresses").val().split(",");
            const listen_port = $("#listen_port").val();
            const post_up = $("#post_up").val();
            const pre_down = $("#pre_down").val();
            const post_down = $("#post_down").val();
            const data = {"addresses": addresses, "listen_port": listen_port, "post_up": post_up, "pre_down": pre_down, "post_down": post_down};

            $.ajax({
                cache: false,
                method: 'POST',
                url: '{{.basePath}}/wg-server/interfaces',
                dataType: 'json',
                contentType: "application/json",
                data: JSON.stringify(data),
                success: function(data) {
                    $("#modal_new_client").modal('hide');
                    toastr.success('成功更新WireGuard服务器接口地址');
                },
                error: function(jqXHR, exception) {
                    const responseJson = jQuery.parseJSON(jqXHR.responseText);
                    toastr.error(responseJson['message']);
                }
            });
        }
    </script>
    <script>
        // WireGuard接口地址标签输入
        $("#addresses").tagsInput({
            'width': '100%',
            'interactive': true,
            'defaultText': '添加更多',
            'removeWithBackspace': true,
            'minChars': 0,
            'minInputWidth': '100%',
            'placeholderColor': '#666666'
        });

        // 加载服务器地址到表单
        {{range .serverInterface.Addresses}}
        $("#addresses").removeTag('{{.}}');
        $("#addresses").addTag('{{.}}');
        {{end}}

        // WireGuard接口地址表单验证
        $(document).ready(function () {
            $.validator.setDefaults({
                submitHandler: function () {
                    submitServerInterfaceSetting();
                }
            });
            $("#frm_server_interface").validate({
                rules: {
                    listen_port: {
                        required: true,
                        digits: true,
                        range: [1, 65535]
                    }
                },
                messages: {
                    listen_port: {
                        required: "请输入端口号",
                        digits: "端口号必须为整数",
                        range: "端口号必须在1-65535之间"
                    }
                },
                errorElement: 'span',
                errorPlacement: function (error, element) {
                    error.addClass('invalid-feedback');
                    element.closest('.form-group').append(error);
                },
                highlight: function (element, errorClass, validClass) {
                    $(element).addClass('is-invalid');
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).removeClass('is-invalid');
                }
            });
        });

        // WireGuard密钥对生成确认按钮
        $(document).ready(function () {
            $("#btn_generate_confirm").click(function () {
                $.ajax({
                    cache: false,
                    method: 'POST',
                    url: '{{.basePath}}/wg-server/keypair',
                    dataType: 'json',
                    contentType: "application/json",
                    success: function(data) {
                        $("#modal_keypair_confirmation").modal('hide');
                        toastr.success('成功生成新的密钥对');
                        // 更新UI
                        $("#private_key").val(data['private_key']);
                        $("#public_key").val(data['public_key']);
                    },
                    error: function(jqXHR, exception) {
                        const responseJson = jQuery.parseJSON(jqXHR.responseText);
                        toastr.error(responseJson['message']);
                    }
                });
            });
        });

        // 显示私钥按钮事件
        $(document).ready(function () {
            $("#btn_show_private_key").click(function () {
                const privateElement = document.getElementById("private_key");
                const btnElement = document.getElementById("btn_show_private_key");
                if (privateElement.type === 'password') {
                    privateElement.type = 'text';
                    btnElement.innerText = '隐藏';
                } else {
                    privateElement.type = 'password';
                    btnElement.innerText = '显示';
                }
            });
        });
    </script>
{{end}}
