{{define "title"}}
已连接的对等节点
{{end}}

{{define "top_css"}}
{{end}}

{{define "username"}}
{{ .username }}
{{end}}

{{define "page_title"}}
已连接的对等节点
{{end}}

{{define "page_content"}}
<script>
  // 将字节转换为人类可读的格式
  function bytesToHumanReadable(temporal) {
    const units = [" ", " K", " M", " G", " T", " P", " E", " Z", " Y"]
    let pow = 0

    while (temporal > 1024) {
      temporal /= 1024
      pow ++
      if (pow == units.length-1) break
    }

    return parseFloat(temporal.toFixed(2)) + units[pow]+"B"
  }
</script>
<section class="content">
    <div class="container-fluid">
        {{ if .error }}
        <div class="alert alert-warning" role="alert">{{.error}}</div>
        {{ end}}
        {{ range $dev := .devices }}
            <table class="table table-sm">
                <caption>设备名称为 {{ $dev.Name }} 的已连接对等节点列表</caption>
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">名称</th>
                  <th scope="col">电子邮件</th>
                  <th scope="col">分配的IP</th>
                  <th scope="col">端点</th>
                  <th scope="col">公钥</th>
                  <th scope="col">已接收</th>
                  <th scope="col">已发送</th>
                  <th scope="col">连接状态（近似）</th>
                  <th scope="col">最后一次握手</th>
                </tr>
              </thead>
              <tbody>
              {{ range $idx, $peer := $dev.Peers }}
              <tr {{ if $peer.Connected }} class="table-success" {{ end }}>
                <th scope="row">{{ $idx }}</th>
                <td>{{ $peer.Name }}</td>
                <td>{{ $peer.Email }}</td>
                <td>{{ $peer.AllocatedIP }}</td>
                <td>{{ $peer.Endpoint }}</td>
                <td>{{ $peer.PublicKey }}</td>
                <td title="{{ $peer.ReceivedBytes }} 字节"><script>document.write(bytesToHumanReadable({{ $peer.ReceivedBytes }}))</script></td>
                <td title="{{ $peer.TransmitBytes }} 字节"><script>document.write(bytesToHumanReadable({{ $peer.TransmitBytes }}))</script></td>
                <td>{{ if $peer.Connected }}✓{{end}}</td>
                <td>{{ $peer.LastHandshakeTime.Format "2006-01-02 15:04:05 MST" }}</td>
               </tr>
              {{ end }}
              </tbody>
            </table>
        {{ end }}
    </div>
</section>
{{end}}
{{define "bottom_js"}}
{{end}}
