{{define "title"}}
用户设置
{{end}}

{{define "top_css"}}
{{end}}

{{define "username"}}
{{ .username }}
{{end}}

{{define "page_title"}}
用户设置
{{end}}

{{define "page_content"}}
<section class="content">
    <div class="container-fluid">
        <div class="row" id="users-list">
        </div>
    </div>
</section>

<div class="modal fade" id="modal_edit_user">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">编辑用户</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="关闭">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form name="frm_edit_user" id="frm_edit_user">
                <div class="modal-body">
                    <div class="form-group" style="display:none">
                        <input type="text" style="display:none" class="form-control" id="_previous_user_name"
                               name="_previous_user_name">
                    </div>
                    <div class="form-group">
                        <label for="_user_name" class="control-label">用户名</label>
                        <input type="text" class="form-control" id="_user_name" name="_user_name">
                    </div>
                    <div class="form-group">
                        <label for="_user_password" class="control-label">密码</label>
                        <input type="password" class="form-control" id="_user_password" name="_user_password" value=""
                               placeholder="留空则保持原密码不变">
                    </div>
                    <div class="form-group">
                        <div class="icheck-primary d-inline">
                            <input type="checkbox" id="_admin">
                            <label for="_admin">
                                管理员权限
                            </label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-success">保存</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="modal_remove_user">
    <div class="modal-dialog">
        <div class="modal-content bg-danger">
            <div class="modal-header">
                <h4 class="modal-title">删除用户</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="关闭">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-outline-dark" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-outline-dark" id="remove_user_confirm">确认删除</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
{{end}}

{{define "bottom_js"}}
<script>
    // 填充用户列表
    function populateUsersList() {
        $.ajax({
            cache: false,
            method: 'GET',
            url: '{{.basePath}}/get-users',
            dataType: 'json',
            contentType: "application/json",
            success: function (data) {
                renderUserList(data);
            },
            error: function (jqXHR, exception) {
                const responseJson = jQuery.parseJSON(jqXHR.responseText);
                toastr.error(responseJson['message']);
            }
        });
    }
</script>
<script>
    // 加载用户列表
    $(document).ready(function () {
        populateUsersList();
        let newUserHtml = '<div class="col-sm-2 offset-md-4" style=" text-align: right;">' +
            '<button style="" id="btn_new_user" type="button" class="btn btn-outline-primary btn-sm" ' +
            'data-toggle="modal" data-target="#modal_edit_user" data-username="">' +
            '<i class="nav-icon fas fa-plus"></i> 新增用户</button></div>';
        $('h1').parents(".row").append(newUserHtml);
    })

    // 删除用户模态框事件
    $("#modal_remove_user").on('show.bs.modal', function (event) {
        const button = $(event.relatedTarget);
        const user_name = button.data('username');
        const modal = $(this);
        modal.find('.modal-body').text("您即将删除用户 " + user_name);
        modal.find('#remove_user_confirm').val(user_name);
    })

    // 确认删除用户按钮事件
    $(document).ready(function () {
        $("#remove_user_confirm").click(function () {
            const user_name = $(this).val();
            const data = {"username": user_name};
            $.ajax({
                cache: false,
                method: 'POST',
                url: '{{.basePath}}/remove-user',
                dataType: 'json',
                contentType: "application/json",
                data: JSON.stringify(data),
                success: function (data) {
                    $("#modal_remove_user").modal('hide');
                    toastr.success('用户删除成功');
                    const divElement = document.getElementById('user_' + user_name);
                    divElement.style.display = "none";
                    location.reload()
                },
                error: function (jqXHR, exception) {
                    const responseJson = jQuery.parseJSON(jqXHR.responseText);
                    toastr.error(responseJson['message']);
                }
            });
        });
    });

    // 编辑用户模态框事件
    $(document).ready(function () {
        $("#modal_edit_user").on('show.bs.modal', function (event) {
            let modal = $(this);
            const button = $(event.relatedTarget);
            const user_name = button.data('username');

            // 更新用户模态框数据
            if (user_name !== "") {
                $.ajax({
                    cache: false,
                    method: 'GET',
                    url: '{{.basePath}}/api/user/' + user_name,
                    dataType: 'json',
                    contentType: "application/json",
                    success: function (resp) {
                        const user = resp;

                        modal.find(".modal-title").text("编辑用户 " + user.username);
                        modal.find("#_user_name").val(user.username);
                        modal.find("#_previous_user_name").val(user.username);
                        modal.find("#_user_password").val("");
                        modal.find("#_user_password").prop("placeholder", "留空则保持原密码不变")
                        modal.find("#_admin").prop("checked", user.admin);
                    },
                    error: function (jqXHR, exception) {
                        const responseJson = jQuery.parseJSON(jqXHR.responseText);
                        toastr.error(responseJson['message']);
                    }
                });
            } else {
                modal.find(".modal-title").text("新增用户");
                modal.find("#_user_name").val("");
                modal.find("#_previous_user_name").val("");
                modal.find("#_user_password").val("");
                modal.find("#_user_password").prop("placeholder", "")
                modal.find("#_admin").prop("checked", false);
            }
        });
    });

    // 更新用户信息
    function updateUserInfo() {
        const username = $("#_user_name").val();
        const previous_username = $("#_previous_user_name").val();
        const password = $("#_user_password").val();
        let admin = false;
        if ($("#_admin").is(':checked')) {
            admin = true;
        }
        const data = {
            "username": username,
            "password": password,
            "previous_username": previous_username,
            "admin": admin
        };

        if (previous_username !== "") {
            // 更新现有用户
            $.ajax({
                cache: false,
                method: 'POST',
                url: '{{.basePath}}/update-user',
                dataType: 'json',
                contentType: "application/json",
                data: JSON.stringify(data),
                success: function (data) {
                    toastr.success("用户信息更新成功");
                    location.reload();
                },
                error: function (jqXHR, exception) {
                    const responseJson = jQuery.parseJSON(jqXHR.responseText);
                    toastr.error(responseJson['message']);
                }
            });
        } else {
            // 创建新用户
            $.ajax({
                cache: false,
                method: 'POST',
                url: '{{.basePath}}/create-user',
                dataType: 'json',
                contentType: "application/json",
                data: JSON.stringify(data),
                success: function (data) {
                    toastr.success("用户创建成功");
                    location.reload();
                },
                error: function (jqXHR, exception) {
                    const responseJson = jQuery.parseJSON(jqXHR.responseText);
                    toastr.error(responseJson['message']);
                }
            });
        }
    }

    $(document).ready(function () {
        $.validator.setDefaults({
            submitHandler: function (form) {
                updateUserInfo();
            }
        });
        
        // 编辑用户表单验证
        $("#frm_edit_user").validate({
            rules: {
                _user_name: {
                    required: true
                },
                _user_password: {
                    required: function () {
                        return $("#_previous_user_name").val() === "";
                    }
                },
            },
            messages: {
                _user_name: {
                    required: "请输入用户名"
                },
                _user_password: {
                    required: "请输入密码"
                },
            },
            errorElement: 'span',
            errorPlacement: function (error, element) {
                error.addClass('invalid-feedback');
                element.closest('.form-group').append(error);
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass('is-invalid');
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).removeClass('is-invalid');
            }
        });
    });
</script>
{{end}}
